{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "import/order": 0,
    "import/prefer-default-export": 0,
    "react/self-closing-comp": [
      "error",
      {
        "component": true
      }
    ],
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-wrap-multilines": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.js"
      }
    }
  }
}
